* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
  background-color: #ebf2ff;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 9999;
}

.navbar__brand {
  width: 100px;
}
.logo__brand {
  width: 100%;
}
.navbar__nav__items {
  display: flex;
}
.button__primary {
  background: linear-gradient(to right, red 0%, orange 50%, purple 80%);
  margin: 15px;
  padding: 0.5rem 1rem;
  text-align: center;

  color: white;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 0 20px #eee;
  display: block;
}
.button__primary:hover {
  transition-delay: 1s;
  transition-duration: 4s;
  background: linear-gradient(to right, red 0%, orange 50%, purple 80%);
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0.3rem;
  }
  .button__primary {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
